<div class="col-md-10 col-xs-12 col-md-offset-1 text-center space contacts" id="contact">
  <hr />
  <h1>{{ site.data.messages.locales[page.locale].contacts }}.</h1>

  <div class="col-md-4 col-md-offset-4 col-xs-12 space text-left" id="contactme">
    <p>
    <i class="fa fa-envelope"></i><a href="mailto:palazzini.francesco@gmail.com">palazzini.francesco@gmail.com</a> <br />
    <i class="fa fa-phone"></i><a href="tel:+393479542452">+39 347 95 42 452</a><br />
    <i class="fa fa-skype"></i>palazzini.francesco <br />
    <i class="fa fa-linkedin"></i><a href="//it.linkedin.com/in/palazzinifrancesco" target="_blank">palazzinifrancesco</a> <br />
    <i class="fa fa-github"></i><a href="//github.com/francescop" target="_blank">francescop</a> <br />
    </p>
  </div>
</div>
