<footer class="col-md-10 col-xs-12 col-md-offset-1 footer">
  <hr />
  <div class="container">
    <a class="pull-right" href="#intro">Back to top <i class="fa fa-angle-up"></i></a>
    <p class="pull-left text-left">
      {{ site.data.messages.locales[page.locale].footer_sign }}<br />
      {{ site.data.messages.locales[page.locale].phone }}: <a href="tel:+393479542452">+39 347 95 42 452</a><br />
      {{ site.data.messages.locales[page.locale].mail }}: <a href="mailto:palazzini.francesco@gmail.com">palazzini.francesco@gmail.com</a><br />
      {{ site.data.messages.locales[page.locale].vat }}: IT 03977260235<br />
      ABN: 37762170339<br />
    </p>
  </div>
</footer>
