<main class="jumbotron" id="intro">
<div class="container text-center">
  <h1>Francesco Palazzini</h1>
  <p class="lead">{{ site.data.messages.locales[page.locale].lead }}</p>
  <div class="btn-group">
    <a class="btn btn-success btn-lg" href="#contact">{{ site.data.messages.locales[page.locale].contact_me_btn }}</a>
    <a class="btn btn-primary btn-lg" href="//linkedin.com/in/palazzinifrancesco" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
  </div>
</div>
</main>

<div class="gray-space">
  <small>
    <a href="/en/">English</a> -
    <a href="/">Italiano</a>
  </small>
</div>

<div class="container text-center">

  <div class="row space">
    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
      <h2>{{ site.data.messages.locales[page.locale].who_i_am }}.</h2>
      <p>
       {{ site.data.messages.locales[page.locale].who_i_am_p }} 
      </p>
    </div>

    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
      <h2>{{ site.data.messages.locales[page.locale].what_i_do }}.</h2>
      <p>{{ site.data.messages.locales[page.locale].what_i_do_p }}</p>
    </div>
  </div>

  <hr />
  <!-- ------------------------------------------------------------------------------------------>

  <div class="row space knowledges" id="knowledges">
    <div class="col-md-12">
      <h2>{{ site.data.messages.locales[page.locale].knowledges }}.</h2>
      <p class="marketing-byline">{{ site.data.messages.locales[page.locale].knowledges_p }}</p>

      <div class="col-md-4 col-xs-12">
        <h3>{{ site.data.messages.locales[page.locale].os }}.</h3>
        <table class="table table-hover">
          <tbody>
          <tr>
            <td><b>Ubuntu/Debian</b></td>
          </tr>
          <tr>
            <td>RedHat/CentOS</td>
          </tr>
          <tr>
            <td>FreeBSD</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-4 col-xs-12">
        <h3>{{ site.data.messages.locales[page.locale].web_and_programming }}.</h3>
        <table class="table table-hover">
          <tbody>
          <tr>
            <td>Ruby <span>&amp;</span> Ruby on Rails</td>
          </tr>
          <tr>
            <td>Elixir <span>&amp;</span> Phoenix</td>
          </tr>
          <tr>
            <td>Python</td>
          </tr>
          <tr>
            <td>C</td>
          </tr>
          <tr>
            <td>Android <span>&amp;</span> Java</td>
          </tr>
          <tr>
            <td>Rust</td>
          </tr>
          <tr>
            <td>HTML / CSS</td>
          </tr>
          <tr>
            <td>Javascript</td>
          </tr>
          <tr>
            <td>GIT</td>
          </tr>
          <tr>
            <td>Bash</td>
          </tr>
          <tr>
            <td>Bootstrap</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-4 col-xs-12">
        <h3>Servers / Platforms.</h3>
        <table class="table table-hover">
          <tbody>
          <tr>
            <td>Docker</td>
          </tr>
          <tr>
            <td>AWS (beanstalk / cloudformation)</td>
          </tr>
          <tr>
            <td>Ansible</td>
          </tr>
          <tr>
            <td>Nginx <span>&amp;</span> Apache</td>
          </tr>
          <tr>
            <td>MySQL <span>&amp;</span> PostgreSQL <span>&amp;</span> MongoDB</td>
          </tr>
          <tr>
            <td>Nagios <span>&amp;</span> Monit <span>&amp;</span> Cacti</td>
          </tr>
          <tr>
            <td>OpenVPN</td>
          </tr>
          <tr>
            <td>GlusterFS</td>
          </tr>
          <tr>
            <td>Keepalived</td>
          </tr>
          <tr>
            <td>Postfix <span>&amp;</span> Dovecot</td>
          </tr>
          <tr>
            <td>Asterisk</td>
          </tr>
          <tr>
            <td>Nessus <span>&amp;</span> Metasploit <span>&amp;</span> Nmap <span>&amp;</span> Ettercap</td>
          </tr>
          </tbody>
        </table>
      </div>

      <br />
      <p class="space">{{ site.data.messages.locales[page.locale].knowledges_end }}</p>
    </div>
  </div>

  <!-- ------------------------------------------------------------------------------------------>

  <hr />

  <div class="row space" id="portfolio">
    <div class="col-md-10 col-xs-12 col-sm-10 col-lg-10 col-md-offset-1 col-sm-offset-1 col-lg-offset-1">
      <h2>Portfolio.</h2>

      <div class="row">
        <div class="col-md-6 text-left">
          <p>
           {{ site.data.messages.locales[page.locale].portfolio_p1 }} 
          </p>
        </div>

        <div class="col-md-6 text-left">
          <p>
           {{ site.data.messages.locales[page.locale].portfolio_p2 }} 
          </p>
        </div>
      </div>

      <hr />

      <div class="row portfolio-item">
        <div class="col-md-4 col-xs-12">
          <a href="http://www.upclimbing.com/" target="_blank" rel="nofollow">
            <img src="/images/upclimbing.png" alt="UPclimbing.com" class="img-rounded" />
          </a>
        </div>
        <div class="col-md-8 col-xs-12 text-left description">
          <h4>UpClimbing</h4>
          <a href="http://www.upclimbing.com/" target="_blank" rel="nofollow">www.upclimbing.com</a>
          <p>{{ site.data.messages.locales[page.locale].upclimbing_p }}</p>
          <ul class="list-unstyled">
             {{ site.data.messages.locales[page.locale].upclimbing_lis }} 
          </ul>
          <a href="http://www.upclimbing.com/" target="_blank" rel="nofollow" class="btn btn-sm btn-success margin-top-15">{{ site.data.messages.locales[page.locale].website }}<i class="fa fa-caret-right"></i></a>
        </div>
      </div>

      <hr />

      <div class="row portfolio-item">
        <div class="col-md-4 col-xs-12">
          <a href="http://www.newliferestorations.com.au/" target="_blank" rel="nofollow">
            <img src="/images/newliferestorations.png" alt="NewLife Restorations" class="img-rounded" />
          </a>
        </div>
        <div class="col-md-8 col-xs-12 text-left description">
          <h4>New Life Restorations LTD</h4>
          <a href="http://www.newliferestorations.com.au/" target="_blank" rel="nofollow">www.newliferestorations.com.au</a>
          <p>{{ site.data.messages.locales[page.locale].newlife_p }}</p>
          <ul class="list-unstyled">
             {{ site.data.messages.locales[page.locale].newlife_lis }} 
          </ul>
          <a href="http://www.newliferestorations.com.au/" target="_blank" rel="nofollow" class="btn btn-sm btn-success margin-top-15">{{ site.data.messages.locales[page.locale].website }}<i class="fa fa-caret-right"></i></a>
        </div>
      </div>

      <hr />

      <div class="row portfolio-item">
        <div class="col-md-4 col-xs-12">
          <a href="http://www.techride.it/" target="_blank" rel="nofollow">
            <img src="/images/techride.png" alt="Techride" class="img-rounded" />
          </a>
        </div>
        <div class="col-md-8 col-xs-12 text-left description">
          <h4>Techride</h4>
          <a href="http://www.techride.it/" target="_blank" rel="nofollow">www.techride.it</a>
          <p>{{ site.data.messages.locales[page.locale].techride_p }}</p>
          <ul class="list-unstyled">
             {{ site.data.messages.locales[page.locale].techride_lis }} 
          </ul>
          <a href="http://www.techride.it/" target="_blank" rel="nofollow" class="btn btn-sm btn-success margin-top-15">{{ site.data.messages.locales[page.locale].website }}<i class="fa fa-caret-right"></i></a>
        </div>
      </div>

      <!--div class="row portfolio-item">
          <div class="col-md-4 col-xs-12">
            <a href="http://invoicer.palazzinifrancesco.com/" target="_blank" rel="nofollow">
                  <img src="/invoicer.png" alt="Invoicer" class="img-rounded" />
                </a>
          </div>
          <div class="col-md-8 col-xs-12 text-left description">
            <h4>Invoicer</h4>
            <a href="http://invoicer.palazzinifrancesco.com/" target="_blank" rel="nofollow">invoicer.palazzinifrancesco.com</a>
            <p>{{ site.data.messages.locales[page.locale].invoicer_p }}</p>
            <ul class="list-unstyled">
               {{ site.data.messages.locales[page.locale].invoicer_lis }} 
            </ul>
            <a href="http://invoicer.palazzinifrancesco.com/" target="_blank" rel="nofollow" class="btn btn-sm btn-success margin-top-15">{{ site.data.messages.locales[page.locale].website }}<i class="fa fa-caret-right"></i></a>
          </div>
      </div -->

      <!-- hr / -->

    </div>
  </div>
</div>
