<h1></h1>
<h5>ps2: ain't got time to make it beautiful</h5>


<main class="jumbotron" id="intro">
<div class="container text-center">
  <h1>Francesco Palazzini</h1>
  <p class="lead">List of projects I have worked on</p>
  <div class="btn-group">
    <a class="btn btn-success btn-lg" href="#contact">{{ site.data.messages.locales[page.locale].contact_me_btn }}</a>
    <a class="btn btn-primary btn-lg" href="//linkedin.com/in/palazzinifrancesco" target="_blank">
      <i class="fa fa-linkedin"></i>
    </a>
  </div>
</div>
</main>

<div class="gray-space">
  <small>
    ps: glad to see you here
  </small>
  <br />
  <small>
    ps2: this page may be outdated, as I always try to do something new and 'ain\'t got time to update a website'
  </small>
</div>

<div class="container text-center">

  <div class="row space">
    <div class="col-md-12">
      <p>
        Click <a class="" href="/en" target="_blank">here</a> to see who I am and what I do.
      </p>
    </div>
  </div>

  <hr />
  <div class="row space" id="portfolio">
    <div class="col-md-10 col-xs-12 col-sm-10 col-lg-10 col-md-offset-1 col-sm-offset-1 col-lg-offset-1">
      <h2>Portfolio.</h2>

      <div class="row">
        <div class="col-md-12 text-left">
          <p>
            As a freelancer, I develop products, as well as manage and implement services and networks based on
            customer expectations.
            The services that I provide are:
          </p>

          <ul>
            <li>Ruby on Rails Software Development</li>
            <li>AWS consultant</li>
            <li>Cyber security consultant</li>
            <li>Linux servers installation and management</li>
            <li>Network Management</li>
            <li>Installation of Firewalls and VPNs</li>
            <li>Asterisk based VoIP system deployment and management</li>
          </ul>
        </div>
      </div>

      <hr />

      <div class="space">
        <h2>Some of the projects I have been working on...</h2>
        <h3>...and that didn't required a signed NDA</h3>

        <div class="row portfolio-item">
          <div class="col-md-12 text-left description">
            <h4>Quicibo SRL</h4>
            <p>
            Developer of the backend (written in Ruby on Rails).
            Designed, built and deployed the application utilizing some services of the AWS stack (EC2, S3, RDS, ELB),
            focusing on high availability and fault tolerance.
            Wrote scripts/tools to fully automate application deployment, configuration, self-repairing, and monitoring.
            </p>

            <hr />

            <h4>Lombardi SRL</h4>
            <a href="http://www.lombardigroup.it" target="_blank">http://www.lombardigroup.it</a> - <a href="http://www.lombardionline.it" target="_blank">http://www.lombardionline.it</a>
            <p>
            Helped them build the hosting infrastructure from scratch.
            Developed a software for embedded systems (iot) for energy auditing, allowing them to read industrial energy
            meters through MODBUS (rs485). The software has been written in C and Python.
            </p>

            <hr />

            <h4>DigitalForest SRL</h4>
            <a href="http://www.digitalforest.it/" target="_blank">http://www.digitalforest.it/</a> -
            <a href="https://ibm-milano.nuevent.digitalforest.it/" target="_blank">https://ibm-milano.nuevent.digitalforest.it/</a>
            <p>
            Built for them the backend for a conference management software using Ruby on Rails used mainly by IBM Milano.            
            </p>
          </div>
        </div>

    </div>
  </div>
</div>
